@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

table{
	margin: 1em auto;
}

/* location-specific */
#chapter-5-7 table{
	font-variant-numeric: tabular-nums;
}

#chapter-2-7 > blockquote,
#chapter-6-4 > blockquote{
	font-variant: small-caps;
	text-align: center;
}

#chapter-2-7 > blockquote b,
#chapter-6-4 > blockquote b{
	font-size: 1.25em;
	text-transform: lowercase;
}

#chapter-3-6 > blockquote{
	border: solid 1px;
	margin: 1em auto;
	max-width: 22em;
	padding: 1em;
	text-align: center;
}

#chapter-3-6 > blockquote b{
	font-size: 1.25em;
	font-variant: all-small-caps;
	letter-spacing: .2em;
}

#chapter-4-5 ol{
	margin: 0;
}

#chapter-4-5 blockquote p,
#chapter-5-7 blockquote p,
#chapter-5-11 blockquote p{
	text-indent: 0;
}

#chapter-4-5 > blockquote > p:first-of-type,
#chapter-4-5 > blockquote > p:last-of-type{
	text-align: center;
}

#chapter-2-6 blockquote > header,
#chapter-5-1 blockquote,
#chapter-5-3 blockquote > div,
#chapter-5-3 blockquote > div > header{
	margin: 1em 0;
}

#chapter-5-1 [epub|type~="z3998:salutation"]{
	font-style: italic;
	font-variant: normal;
	text-align: center;
}

#chapter-5-2 blockquote[epub|type~="z3998:letter"] > header{
	text-align: center;
}

#chapter-5-2 [epub|type~="z3998:salutation"]{
	font-style: italic;
	font-variant: normal;
}

#chapter-5-3 blockquote > div > header + p{
	text-indent: 1em;
}

#chapter-5-7 tr td:first-of-type,
#chapter-5-7 tr td:nth-of-type(4){
	text-align: center;
}

#chapter-5-7 tr td:nth-of-type(3){
	padding-left: 1em;
	text-align: right;
}

#chapter-5-7 tr:last-of-type td:nth-of-type(3){
	border-top: solid 2px;
}

#chapter-5-16 blockquote,
#chapter-8-10 blockquote:first-of-type,
#chapter-8-10 blockquote:nth-of-type(2),
#chapter-8-10 blockquote:nth-of-type(3),
#chapter-8-10 blockquote:nth-of-type(4){
	text-align: center;
	text-indent: 0;
}
/* end of location-specific */

/* drama */
table[epub|type~="z3998:drama"]{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	vertical-align: top;
	padding: .5em;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:stage-direction"]{
	font-style: italic;
}

[epub|type~="z3998:stage-direction"]::before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::after{
	content: ")";
	font-style: normal;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}

[epub|type~="epigraph"] [epub|type~="z3998:persona"]{
	font-style: normal;
}

/* end of drama */

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

/* Epigraphs in section headers */
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

section > header [epub|type~="epigraph"] + *{
	margin-top: 3em;
}

@supports(display: table){
	section > header [epub|type~="epigraph"]{
		display: table;
	}

	[epub|type~="epigraph"] span.elision{
		font-style: normal;
	}
}
/* End epigraphs in section headers */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}

	section[epub|type~="epigraph"] > * + *{
		margin-top: 3em;
	}
}
/* End full-page epigraphs */

/* images */
figure{
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}
/* end of images

/* letters */

[epub|type~="z3998:letter"] header{
	text-align: right;
}

[epub|type~="se:letter.dateline"]{
	font-style: italic;
}

[epub|type~="se:letter.dateline"] b{
	font-style: normal;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:salutation"]{
	font-style: italic;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* end of letters */

/* poem/verse/song */
[epub|type~="z3998:song"] > p,
[epub|type~="z3998:verse"] > p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

p span.i5{
	text-indent: -1em;
	padding-left: 6em;
}

p span.i8{
	text-indent: -1em;
	padding-left: 9em;
}

/* elision ⋮ */
span.elision{
	margin: .5em;
	margin-left: 3em;
}
/* end of poem/verse/song */
