@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

blockquote > header{
	text-align: center;
}

q{
	font-style: italic;
}

table{
	margin: 1em auto;
}

/* location-specific */
#chapter-2-7 > blockquote,
#chapter-6-4 > blockquote{
	font-variant: small-caps;
	text-align: center;
}

#chapter-2-7 > blockquote b,
#chapter-6-4 > blockquote b{
	font-size: 150%;
	text-transform: lowercase;
}

#chapter-3-6 > blockquote{
	border: solid 2px;
	margin: 1em auto;
	padding: .5em;
	text-align: center;
	width: 15em;
}

#chapter-4-5 > blockquote p,
#chapter-5-7 blockquote p,
#chapter-5-11 blockquote p{
	text-indent: 0;
}

#chapter-4-5 > blockquote > footer{
	margin-top: 0;
	text-align: center;
}

#chapter-5-1 blockquote,
#chapter-5-2 blockquote div,
#chapter-5-3 .stanza{
	margin: 1em 0;
}

#chapter-5-1 [epub|type~="z3998:salutation"]{
	font-style: italic;
	font-variant: normal;
	text-align: center;
}

#chapter-4-17 blockquote header > p #chapter-5-2 blockquote header,
#chapter-5-2 blockquote div header,
#chapter-5-3 .stanza,
#chapter-5-16 blockquote,
#chapter-7-4 blockquote,
#chapter-8-10 blockquote:first-of-type,
#chapter-8-10 blockquote:nth-of-type(2),
#chapter-8-10 blockquote:nth-of-type(3),
#chapter-8-10 blockquote:nth-of-type(4){
	text-align: center;
}

#chapter-5-2 [epub|type~="z3998:salutation"]{
	font-style: italic;
	font-variant: normal;
}

#chapter-5-7 tr td:nth-of-type(3n){
	padding-left: 1em;
	text-align: right;
}

#chapter-5-7 tr:last-of-type td:nth-of-type(3){
	border-top: solid 2px;
}

#chapter-6-1 table{
	border-collapse: collapse;
	display: table;
	text-align: center;
}

#chapter-6-1 table tbody td{
	border: solid 2px;
	padding: .5em 1em;
}
/* end of location-specific */

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] em,
[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

/* Epigraphs in section headers */
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: left;
}

section > header [epub|type~="epigraph"] + *{
	margin-top: 3em;
}

@supports(display: table){
	section > header [epub|type~="epigraph"]{
		display: table;
	}

	[epub|type~="epigraph"] span.elision{
		font-style: normal;
	}
}
/* End epigraphs in section headers */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: left;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}

	section[epub|type~="epigraph"] > * + *{
		margin-top: 3em;
	}
}
/* End full-page epigraphs */

/* letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
	text-align: left;
}
/* end of letters */

/* poem/verse/song */
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p + p,
[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

p span.i5{
	text-indent: -1em;
	padding-left: 6em;
}

p span.i8{
	text-indent: -1em;
	padding-left: 9em;
}

p span.i9{
	text-indent: -1em;
	padding-left: 10em;
}

/* elision ⋮ */
span.elision{
	margin: .5em;
	margin-left: 3em;
}
/* end of poem/verse/song */

/* drama */
[epub|type~="z3998:drama"]{
	border-collapse: collapse;
	margin: 1em auto;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}
/* end of drama */
